<%= simple_form_for(@qa_category, :validate => true, defaults: { input_html: { class: 'form-inline' }}) do |f| %>
<div class="row">
  <div class="group">
    <%= f.input :name %>
  </div>
  <%= f.button :wrapped, :cancel => publicity_qa_categories_path %>

</div>
<% end -%>
