$iconSpritePath: '';
$iconWhiteSpritePath: '';
@import 'bootstrap';

.modal-dialog
{
  width: 960px;/* your width */
}

/* input form-control for simple form
-------------------------------------------------- */
input.form-control{
  width: auto;
};

#jquery-ui-effect {
    width: 400px;
    padding: 50px 15px;
    font-size: 15px;
    background: khaki;
}