$iconSpritePath: '';
$iconWhiteSpritePath: '';
@import 'bootstrap';

.modal-dialog
{
  width: 960px;/* your width */
}

/* input form-control for simple form
-------------------------------------------------- */
input.form-control{
  width: auto;
};