<!-- Navigation Menu including Bread Crumb Menu
================================================== -->
<%= render 'shared/breadcrumbs' %>
<%= render 'search' %>
<div class="inner" id="publicity_qas">
    <%= render "qas" %>
</div>