<div class="row">
<div class="col-2" id="publicity_qas">
<h3>事務局用</h3>
    <%= render "qas" %>
    <%= link_to "New", new_publicity_qa_path, :class => "btn btn-primary" %>
</div>

<div class="col-9" id="publicity_qas_right" data-spy="affix" data-offset-top="0px" style="max-height: 720px; margin-top:-240px; margin-left:360px; background-color: #ffffff; border-color: red; border-style: dashed; overflow: scroll;">
<h3>議長、回答役員用</h3>

</div>
</div>
