
<div class="col-md-4" id="publicity_qas">
<h3>事務局用</h3>
    <%= render "qas" %>
</div>

<div class="col-md-8" id="publicity_qas_right" data-spy="affix" data-offset-top="0px" style="max-height: 900px; margin-top:0px; margin-left:430px; background-color: #ffffff; border-style: dashed; overflow: scroll;">
<h3>議長、回答役員用</h3>
</div>